html, body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial,sans-serif;
	color: #555;
	background-image: url('../img/background.png');
}
::-moz-selection {
    background : transparent;
}

.game-container {
	width: 400px;
	height: auto;
	margin:0 auto;
	position: relative;
}
.game-container .row {
	margin-left:0;
}
.game-container .game-note,
.game-container .game-note-point {
	display: none;
	position: absolute;
	top:90px;
	width: 100%;
	text-align: center;
	z-index: 10;

	/* --- Deisgn --- */
	color:white;
	font-size: 20px;
	font-weight: bold;
	text-shadow: red 2px 2px, red -2px 2px, red -2px -2px, red 2px -2px; 
}
.game-container .game-time {
	float:left;
	height: 30px;
	margin:10px 20px;
	padding:6px 10px 0 30px;
	font-size: 30px;
	font-weight: bold;

	background-image: url('../img/timer-icon.png');
	background-repeat: no-repeat;
	background-position: 5px center;

	/* --- Deisgn --- */
    background-color: #eee;
	border-radius: 10px;
	border:1px solid #ccc;
	text-shadow: 0 1px 1px #999;
	color: #555;
}
.game-container .game-point {
	float:right;
	height: 30px;
	margin:10px 20px;
	padding:6px 10px 0;
	font-size: 30px;
	font-weight: bold;

	/* --- Deisgn --- */
    background-color: #eee;
	border-radius: 10px;
	border:1px solid #ccc;
	text-shadow: 0 1px 1px #999;
	color: #555;
}
.game-container .game-result {
	clear:both;
	height: 30px;
	margin:10px 20px;
	padding:6px 10px 0;
	font-size: 30px;
	font-weight: bold;

	/* --- Deisgn --- */
    background-color: #eee;
	border-radius: 10px;
	border:1px solid #ccc;
	text-shadow: 0 1px 1px #999;
	color: #555;
}
.game-container .grille {
	margin:0;
	padding: 0 10px 10px 10px;
	list-style-type: none;
	text-align: center;
}
.game-container .grille li {
	display:inline-block;
	width: 80px;
	height: 50px;
	margin: 5px;
	padding-top: 25px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
	-webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
    position:relative;

    /* --- Design --- */
    background-color: #eee;
    box-shadow: 0 5px 0 #ccc;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ccc;
	border-radius: 10px;

	text-shadow: 0 1px 1px #999;
	color: #555;
}
.game-container .grille li:hover {
	background-color: #FFCB63;
    box-shadow: 0 5px 0 #E5B459;
	color: #333;
}
.game-container .grille li.selected {
	background-color: #FFA100;
	height:54px;
	margin-bottom: 1px;
    box-shadow: 0 1px 0 #E5B459;
}
.game-container .grille li .point {
	font-size: 12px;
	position: absolute;
	top:5px;
	right:8px;
}